body {
  background-color: #222;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}

.sidebar {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  padding: 24px 18px 12px;
  width: 96px;
  margin-left: 12px
}

.logo {
  color: white;
  font-weight: 600;
  letter-spacing: .1em;
  font-size: 15px;
  margin-top: .2em
}

.github-logo {
  height: 18px
}

.swatch-wrapper {
  margin-top: 24px
}

.swatch-cont {
  display: flex
}

.btn {
  display: block;
  width: 60px;
  margin-top: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 1px
}

.select-cont {
  display: block;
  width: 48px;
  margin-top: 4px
}

.dropdowns-wrapper {
  margin-top: 4px;
  margin-left: 2px
}

.buttons-wrapper {
  margin-top: 12px;
  padding-top: 8px;
  border-top: 1px solid #444;
  margin-bottom: auto
}

.radios-wrapper,
.switches-wrapper {
  margin-top: 8px
}

.radio-cont label,
.layer-switch-cont label {
  color: #fff;
  font-size: .8em;
  vertical-align: -.1em
}


.checkbox-cont,
.swatch {
  height: 20px
}

.checkbox-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  background: #222
}

.swatch {
  width: 20px;
  margin-left: 2px;
  background: #ccc;
  cursor: pointer;
  border: 1px solid #5d5d5d;
  box-sizing: border-box
}

.swatch-cont:not(:last-of-type) {
  margin-bottom: 2px
}

/* NEW STYLES FOR SWATCH TOGGLE SWITCHES */
.swatch-switch {
  height: 20px;
  width: 8px;
  border-right: 1px solid #222
}

.transform {
  -webkit-transition: width ease-out .2s;
  -moz-transition: width ease-out .2s;
  -o-transition: width ease-out .2s;
  -ms-transition: width ease-out .2s;
  transition: width ease-out .2s
}

.transform-active {
  width: 44px
}

.fadable {
  opacity: 0;
  -webkit-transition: opacity ease-out .2s;
  -moz-transition: opacity ease-out .2s;
  -o-transition: opacity ease-out .2s;
  -ms-transition: opacity ease-out .2s;
  transition: opacity ease-out .2s
}

.fadable-active {
  opacity: 1
}

.switch-cont-wrapper {
  display: flex
}

.switch-cont-wrapper:not(:last-child) {
  margin-bottom: 4px
}

.switch-cont {
  /*border: 1px solid #5d5d5d;*/
  width: 48px;
  height: 20px;
  background-color: #444;
  margin-left: 2px;
  cursor: pointer
}

.switch-tick {
  width:2px;
  background-color:#fff;
  margin-left:2px;
}
